<html>
  <head>
    <title>Deep Photo Booth</title>
  </head>
  <body bgcolor=white>
    <script src="{{ url_for('static', filename='js/webcam.js') }}"></script>
    
    <h1>Deep Photo Booth</h1>

    <div id="my_camera" style="width:320px; height:240px;"></div>
    <div id="my_result"></div>

    <script language="JavaScript">
        Webcam.attach( '#my_camera' );

        function take_snapshot() {
            Webcam.snap( function(data_uri) {
                document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
            } );
        }
    </script>

    <a href="javascript:void(take_snapshot())">Take Snapshot</a>

  </body>
</html>
